name: Deploy React to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Create env file from Secrets
        run:
          echo "VITE_GITHUB_URL=${{ secrets.VITE_GITHUB_URL }}" >> .env.production
          echo "VITE_EMAIL=${{ secrets.VITE_EMAIL }}" >> .env.production

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
